@media (min-width: 768px) {

    header {
        padding: 1rem 2rem;
    }

    .logo {
        width: 90px;
    }

    .site-title {
        font-size: 2rem;
    }

    .hamburger {
        display: none;
    }

      nav {
        position: static;
        width: auto;
        background: transparent;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        background: transparent;
    }

    nav ul li {
        border: none;
        padding: 0;
    }

    #members.grid {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }
}
