@media (min-width: 768px) {
    header {
        padding: 0 2rem;
        height: 80px;
    }

    .logo-name img {
        height: 60px;
    }


    .hamburger {
        display: none;
    }

    nav {
        display: flex;
        align-items: center;
    }

    nav ul {
        display: flex;
        position: static;
        background: transparent;
        width: auto;
        gap: 20px;
    }

    nav a {
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
    }

    /* Grid Layouts */
    .services-grid {
        grid-template-columns: repeat(3, 1fr);
        /* 3 cards per row */
        gap: 2rem;
    }

    .about-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    .about-text-block {
        text-align: left;
    }

    .about-image-box img {
        border-radius: 10px;
    }

    /* Form Layout */
    .reservation-form fieldset {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    /* Make textareas and full-width inputs span both columns */
    .reservation-form textarea,
    .reservation-form input[type="text"],
    .reservation-form input[type="email"] {
        grid-column: span 2;
    }

    /* Footer */
    footer {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr;
        text-align: left;
        margin: 3rem auto 0 auto;
    }

    footer a:hover {
        color: #FFFFFF;
        text-decoration: underline;
    }

}