@media only screen and (min-width: 38rem) {

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }

    header {
        grid-template-columns: 24px auto 44px;
    }

    footer {
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .banner {
        grid-column: 1 / 2;
    }

    .student-photo {
        grid-column: 2 / 3;
    }

    .course-info {
        grid-column: 1 / -1;
    }
}
